language: python
dist: xenial
python: 3.9
cache: pip
env:
  global:
  - secure: Y5j85mZkKueWncA78MCDBDdzp8gKrK+WUU7YCmzfUWIgyqgwgrEAZRe7urojiX/+7iwa9MZA8H9xwNNt9ERAkyizEwMPfeU12mGlj2PCwTRfK2AwGwtdzvsBgxDmmCk1BxtvKXjIvx68XYOT1GAX1n3eyv9H+wD0ljB6tMYUxubNKbJ/fn8eGB3EVksHRb/lwOcLQUmQGJhUSF4oBq6mMZyQjBlKvuVMzHLsYL/kOEu2eqpTPMVA8NGMrWyo4NGiqX7WWv/kncUmVz66uWBZsDVZ1rXKZfunRxpbgJlmHAAL7WakHhTnB3+nQx5KoBkEhk0feP7tpD1c/c3mz6xKjAsnDIa501WcyyOi/OGd8pjXa/kUv0A4qIS5fWVjCdpCKpq30NfGrkdD6CPrrFw/igr2y+EMicYDQ5gaXbuaaM12ctqYqh4kuHnKOIHuSdhHB1AbKpORfdEdTdD2Ufcdd7F1kWYZL1bFKqD4u6O57b58/nkstFAA2vyyvdXHm0oGzk076019gIWEwHzlmKjrzLXCpkVcdzarq9HJcAT+6Bvi+2eYOKjssA/NLHvETYlGis3n3FZcNnHLjfPBmFc+6xCFu7FMCibj0II5NwDugup968Xp0dxbhAlP0UFCrS4V/hHvnd9TmCLZUp/HGOmRsKwsubykqXyYYKvr5CGMCDs=
  - secure: PMC3pe2UHPzYCONBeW5RZwX+XHPn9xpRAaYCKKvyJMBzk40BjhAozkCFIh/pvV0azwy/VZ7oM2yGWFpkBcLZ1GVJmqOC7LpJmT/1YNNacJPZkIZs8fEVKtLcx3KXBna4aB/PTVbX6zQtki7e4+EKn1TxC33HUugFzPX/37jDs76x4ao0YDIkVdvqAEIgTLtNiMb6w40oCUzEtWEoPymlZVtTqH0OSNECbAfG7XPXP+3T1AV+ogUSe9NQhQgX0k2WEI5ddGxR4RKMCNRsdTEOctMxYqGXQoAewGjqplyTfujmPxMGRu64EE2PTqbmzh0v4d+tYJZRrdJaeMpvgr5ofO5F/HaO3mnRgERCWCY5RPiCceRgxxGbSFx0CNNVEN7tNGym8bBKRxrWsz5bGdNpRi3Co1kGX2gTuC3roof4rylhVDOMBf3lS/S1Ffh7EQCIVpiANsnblVa9PzxL6XhDFSkD6L0XpkpWOnoD3cOzUMmbn3kOF8y3X1GS8Bii78q1YxU3Z20+k8Mw8pZaiIReMieaZT01cM95FmP/xnnqmyv+OZ08FbqbVT1j4sYPgPevfBKS+053oZxUoDSvkCg7GLSpudBthWjVVQhJRL/AEcmInOgNkni48fMTeG+QtZXDraNgtruaelyn+zekOhSy86kwct/rk8g+op+g3yldkCk=
  - secure: XqLO1UacRvOVsev/OXvBW/2ta3gM4m9oG84MktYei/Ak5sWbcBSYS/hSRM82VtsRLtUr8ImhrmS+61m/6f6NGg2nt5tj3eiM/LCl7Zg+138covsOX7R4/l2g7eBCbuS3gHEHNP9EWCEz4oWVbJsh0cw4UciAUXqU7MT+27wLniQk4PvMoiuBXLA2XE8XJ3B2AiKxGjT6VP9XDSAhCteDGEVJUGVIgwn1trN5X2eaL5++0EAEtVSlOpiWrwTW/6iyc0lWo3EH1TV5uc1aU5VJ+gWtaDZLHkhOgDmNlgYmAljOlNwOY/RKxaPW2aeQXruV8V4oMehowz6zq9WrtpsqhSPnaM0uBbEqkgaGEtVlqFe9Lx9Syrxj65OFihvCHBExc2M+k/+QPwaO4v7gxTUHI+fjiquqB9iiu32fL0r4yUBFXlrgStsGu9iV/x+40LWVu+d4mXey+jbUP+CGrqGmXaC3751VVRNgMCjWiWJdqxzSgDofxUBGfG6J/3wUGErSqMO2V3Ssp5whElVNnFubOiRmGEoyxksnTapGyAKCV9tNB9264v63KG8jbaevy2yS/mQqfMU/bxGPgOswfZ4ccxWkEvKYm2RNJ62XugNCS5/FpTL90Ii2zw7B17+Gy3KriIeQlen9lgNZTOWCKNvCGiGIjBejarng/mVH/dmTc98=
install:
- pip uninstall -y userdatamodel || true
- pip install poetry
# 2.0.0 causes issues b/c it relies on openssl >1.1.1 which isn't on this VM
- "'yes' | pip uninstall urllib3"
- pip install urllib3==1.26.16 --ignore-installed
- poetry install -vv --no-interaction
- poetry show -vv
- poetry install -E flask -E fastapi
script:
- poetry run py.test -vv --cov=src --cov-report xml tests
after_script:
- pip install codacy-coverage
- python-codacy-coverage -r coverage.xml
before_deploy:
- poetry config http-basic.pypi $PYPI_USER $PYPI_PASSWORD
- poetry build
deploy:
  provider: script
  script: "poetry publish"
  skip_cleanup: true
  on:
    python: 3.9
    repo: uc-cdis/authutils
    tags: true
after_deploy:
- "./release_notes.sh"
